[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "==0.104.1", extras = ["all"]}
pyyaml = "==6.0.1"
flake8 = "==6.1.0"
pytest = "==7.4.3"
pytest-mock = "==3.12.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
